<& /Elements/Header, Title => 'Timers' &>
<& /Elements/Tabs &>

<&| /Widgets/TitleBox, title => 'Active Timers' &>
<div class="table-responsive">
<table class="collection-as-table table" name="timers">
  <thead>
    <tr class="collection-as-table">
      <th class="collection-as-table">Ticket</th>
      <th class="collection-as-table">Owner</th>
      <th class="collection-as-table">Elapsed</th>
    </tr>
  </thead>
  <tbody>
%   foreach my $timer ( @{$timers} ) {
    <tr class="collection-as-table">
      <td class="collection-as-table"><a href="<% $timer->{ticket}{link} %>">#<% $timer->{ticket}{id} %>: <% $timer->{ticket}{subject} %></a></th>
      <td class="collection-as-table"><% $timer->{ticket}{owner} %></th>
      <td class="collection-as-table"><% $timer->{seconds} %></th>
    </tr>
%   }
  </tbody>
</table>
</div>

<div class="add_new_timer">
<form method="POST" name="add_timer" enctype="multipart/form-data">
  <div class="form-row">
    <div class="col-auto label">Add timer for ticket:</div>
    <div class="col-auto">
      <input type="hidden" class="hidden" name="action" value="add" />
      <input type="text" class="form-control" name="ticket_id" size="8" data-autocomplete="Tickets" />
    </div>
    <div class="col-auto">
      <input type="submit" class="button btn btn-primary form-control" value="Add">
    </div>
  </div>
</form>
</div>
</&>
<%init>
my ( $ret, $msg ) = RT::Extension::PersistentTimers->GetTimers( user_id => $session{'CurrentUser'}->Id );
unless ( $ret ) {
    Abort( "Unable to get timers: $msg" );
}

my $timers = $ret;
</%init>
<%args>
</%args>
